<template name="mainLayout">
  <core-scaffold>
    <core-header-panel navigation flex mode="seamed">
      <core-toolbar>Investigator {{> loginButtons}}</core-toolbar>
      <core-menu>
        <core-item icon="dashboard" label="Dashboard">
          {{#linkTo route="dashboard"}}{{/linkTo}}
        </core-item>
        <core-item icon="add" label="New Game">
          {{#linkTo route="newGame"}}{{/linkTo}}
        </core-item>
      </core-menu>
    </core-header-panel>
    <div tool flex>
      {{> yield "title"}}
    </div>
    <div fit>
      <div class="content">
        {{> yield}}
      </div>
    </div>
  </core-scaffold>
  <!-- {{> floatingActionMenu}} -->
</template>
