<template name="game">
  <h1>{{name}}</h1>
  <p>
    token: {{_id}}
  </p>
  <h2>Records</h2>
  <!-- <ul>
    {{#each records}}
      <li>
        {{fromNow createdAt}}: {{event.type}}
      </li>
    {{/each}}
  </ul> -->
  <div id="records-graph"></div>
  <!-- <div id="records-slider"></div> -->

  <h2>Errors</h2>
  <ul>
    {{#each errors}}
    <li>
      {{fromNow createdAt}}: {{error.type}}
    </li>
    {{/each}}
  </ul>

  {{#if isOwner}}
  <h2>Settings</h2>
    <p>
      <label>
        <input type="checkbox" checked="{{isSharableByLink}}" class="toggleIsSharableByLink" />
          Is sharable by link
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" checked="{{isPublic}}" class="toggleIsPublic" />
          Is public for everyone
      </label>
    </p>
  {{/if}}
</template>

<template name="insertGameForm">
  <!-- <form>
    <input type="text" name="name">
    <input type="submit" value="create game">
  </form> -->
  {{> quickForm collection="Games" id="insertGameForm" type="insert" fields="name" buttonContent="create"}}
</template>
