<template name="game">
  <h1>{{name}}</h1>
  <p>
    token: {{_id}}
  </p>
  <h2>Records</h2>
  <!-- <ul>
    {{#each records}}
      <li>
        {{fromNow createdAt}}: {{event.type}}
      </li>
    {{/each}}
  </ul> -->
  Show data for the last
  <select id="recordsGraphDataInterval">
    <option value="m" selected={{sessionEquals "graphs.records.dataInterval" "m"}}>
      Minute
    </option>
    <option value="h" selected={{sessionEquals "graphs.records.dataInterval" "h"}}>
      Hour
    </option>
    <option value="d" selected={{sessionEquals "graphs.records.dataInterval" "d"}}>
      Day
    </option>
    <option value="w" selected={{sessionEquals "graphs.records.dataInterval" "w"}}>
      Week
    </option>
    <option value="M" selected={{sessionEquals "graphs.records.dataInterval" "M"}}>
      Month
    </option>
    <option value="y" selected={{sessionEquals "graphs.records.dataInterval" "y"}}>
      Year
    </option>
  </select>
  , auto-update every
  <select id="recordsGraphUpdateInterval">
    <option value="s" selected={{sessionEquals "graphs.records.updateInterval" "s"}}>
      Second
    </option>
    <option value="m" selected={{sessionEquals "graphs.records.updateInterval" "m"}}>
      Minute
    </option>
    <option value="h" selected={{sessionEquals "graphs.records.updateInterval" "h"}}>
      Hour
    </option>
  </select>
  , group data by
  <select id="recordsGraphDataUnit">
    <option value="s" selected={{sessionEquals "graphs.records.dataUnit" "s"}}>
      Second
    </option>
    <option value="m" selected={{sessionEquals "graphs.records.dataUnit" "m"}}>
      Minute
    </option>
    <option value="h" selected={{sessionEquals "graphs.records.dataUnit" "h"}}>
      Hour
    </option>
    <option value="d" selected={{sessionEquals "graphs.records.dataUnit" "d"}}>
      Day
    </option>
    <option value="w" selected={{sessionEquals "graphs.records.dataUnit" "w"}}>
      Week
    </option>
    <option value="M" selected={{sessionEquals "graphs.records.dataUnit" "M"}}>
      Month
    </option>
    <option value="y" selected={{sessionEquals "graphs.records.dataUnit" "y"}}>
      Year
    </option>
  </select>

  <div id="records-graph"></div>
  <!-- <div id="records-slider"></div> -->

  <h2>Errors</h2>
  <ul>
    {{#each errors}}
    <li>
      {{fromNow createdAt}}: {{error.type}}
    </li>
    {{/each}}
  </ul>

  {{#if isOwner}}
  <h2>Settings</h2>
    <p>
      <label>
        <input type="checkbox" checked="{{isSharableByLink}}" class="toggleIsSharableByLink" />
          Is sharable by link
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" checked="{{isPublic}}" class="toggleIsPublic" />
          Is public for everyone
      </label>
    </p>
    {{> inputAutocomplete settings=settings id="inputShareToUser" class="inputShareToUser" placeholder="Share to user..."}} 
    <button class="shareToUser">Share game with user</button>  


    <ul>
      {{#each this.gameSharedToUser}}
      <li>
        {{sharedToUser}}
      </li>
      {{/each}}
    </ul>

  {{/if}}
</template>

<template name="insertGameForm">
  <!-- <form>
    <input type="text" name="name">
    <input type="submit" value="create game">
  </form> -->
  {{> quickForm collection="Games" id="insertGameForm" type="insert" fields="name" buttonContent="create"}}
</template>

<template name="userPill">
    <span class="label">{{getEmail}}</span>
</template>
