<template name="game">

  {{#contentFor "title"}} {{name}} {{/contentFor}}

  <paper-card header-height="150px">
    {{#if cover}}
    <img src="{{cover.url}}" />
    {{else}}
    <img src="http://placehold.it/1920x1080}" />
    {{/if}}
    <h1>{{name}}</h1>
    <file-input id="fileUpload" extensions='["jpg", "jpeg", "png", "gif"]'><paper-icon-button icon="image:edit"></paper-icon-button></file-input>
    <p>
      token: {{_id}}
    </p>
    <!-- <p>
      coverID: {{coverID}}
    </p> -->
  </paper-card>

  <h2>Records</h2>
  <paper-card z=2>
    {{> realtimeGraph}}
  </paper-card>

  <!-- <h2>Errors</h2>
  <ul>
    {{#each errors}}
    <li>
      {{fromNow createdAt}}: {{error.type}}
    </li>
    {{/each}}
  </ul> -->

  {{#if isOwner}}
  <h2>Settings</h2>
  <paper-card>
    <p>
      <label>
        <input type="checkbox" checked="{{isSharableByLink}}" class="toggleIsSharableByLink" /> Is sharable by link
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" checked="{{isPublic}}" class="toggleIsPublic" /> Is public for everyone
      </label>
    </p>

    <h3>Share to specific user</h3>
    <div>
      {{> inputAutocomplete settings=settings id="inputShareToUser" class="inputShareToUser" placeholder="Share to user..."}}
      <button class="shareToUser">Share game with user</button>

      <ul>
        {{#each this.gameSharedToUser}}
        <li>
          {{sharedToUser}}
          <button class="deleteShare">&times;</button>
        </li>
        {{/each}}
      </ul>

    </div>

    <!-- <h3>Change game name</h3>
    <div>
      {{> quickForm collection="Games" doc=this id="updateGameForm" type="update" fields="name" buttonContent="Change name"}}
    </div>
    <h3>Delete game</h3>
    <div>
      {{> quickRemoveButton collection="Games" _id=this._id beforeRemove=beforeRemove}}
    </div> -->
  </paper-card>
  {{/if}}
</template>

<template name="insertGameForm">
  {{> quickForm collection="Games" id="insertGameForm" type="insert" fields="name" buttonContent="create"}}
</template>

<template name="userPill">
  <span class="label">{{publicUsername}}</span>
</template>

<template name="updateGame">
  <h3>Change game name</h3>
  <div>
    {{> quickForm collection="Games" doc=this id="updateGameForm" type="update" fields="name" buttonContent="Change name"}}
  </div>
</template>

<template name="deleteGame">
  <h3>Delete game</h3>
  <div>
    <!-- {{> quickRemoveButton collection="Games" _id=this._id beforeRemove=beforeRemove}} -->
  </div>
</template>
